DJANGO_ADMIN_USERNAME=admin
DJANGO_ADMIN_EMAIL=nobody@crosslang.com

DJANGO_BASE_URL=https://django.dgfisma.crosslang.com
DJANGO_SECRET_KEY=
DJANGO_DEBUG=False
SCRAPY_FILES_FOLDER=/var/lib/scrapyd/
DJANGO_ALLOWED_HOSTS="localhost django django.dgfisma.crosslang.com"
DJANGO_CORS_ORIGIN_WHITELIST="http://localhost:4200 http://localhost:8000 https://angular.dgfisma.crosslang.com"
POSTGRES_DB=django
POSTGRES_USER=django
POSTGRES_PASSWORD=
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
SOLR_URL=http://solr:8983/solr
DOCUMENT_CLASSIFIER_URL=http://docclass:5000

RABBITMQ_DEFAULT_USER=celery
RABBITMQ_DEFAULT_PASS=
RABBITMQ_DEFAULT_VHOST=celery_vhost

CELERY_BROKER_URL=pyamqp://celery:pass/celery_vhost
CELERY_BACKEND=rpc://
CELERY_RESULT_BACKEND=django-db
CELERY_CACHE_BACKEND=django-cache
CELERY_SLACK_WEBHOOK=
FLOWER_BASE_URL=http://localhost:5555
FLOWER_PORT=5555

MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=minio-secret
MINIO_STORAGE_ENDPOINT=minio:9000
MINIO_STORAGE_MEDIA_URL=http://locahost:8000/local-media
MINIO_STORAGE_STATIC_URL=http://localhost:8000/local-static
MINIO_STORAGE_MEDIA_BUCKET_NAME=local-media
MINIO_HTTPS=False

TIKA_SERVER_ENDPOINT=http://tika:9998/tika

ANGULAR_PRODUCTION=true
ANGULAR_DJANGO_API_URL=http://django:8000/searchapp/api
ANGULAR_DJANGO_API_GLOSSARY_URL=http://django:8000/glossary/api
ANGULAR_DJANGO_API_GLOSSARY_ANNOTATIONS_URL=http://localhost:8000/glossary/api/annotations
ANGULAR_DJANGO_API_RO_URL=http://django:8000/obligations/api
ANGULAR_DJANGO_API_RO_ANNOTATIONS_URL=http://localhost:8000/obligations/api/annotations
ANGULAR_DJANGO_API_ADMIN_URL=http://django:8000/admin/api
ANGULAR_DJANGO_AUTH_URL=http://django:8000/auth
ANGULAR_DJANGO_API_DBLOGGING_URL=http://django:8000/dblogging/api

ANGULAR_GOOGLE_CLIENT_ID=<dummy>.apps.googleusercontent.com
ANGULAR_DJANGO_CLIENT_ID=
ANGULAR_DJANGO_CLIENT_SECRET=

SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET=

GLOSSARY_UIMA_URL=http://uima:8008
GLOSSARY_TERM_EXTRACT_URL=http://<url>:5001/dgconcepts/
GLOSSARY_DEFINITIONS_EXTRACT_URL=http://<url>:5002/extract_definitions
GLOSSARY_PARAGRAPH_DETECT_URL=http://<url>:5003/annotate_paragraphs

RDF_FUSEKI_QUERY_URL=http://<url>:3030/RO_oan/query
RDF_FUSEKI_UPDATE_URL=http://<url>:3030/RO_oan/update

CAS_TO_RDF_API=http://<url>:10080/ro_cas/base64
RDF_INIT_URL=http://<url>:10080/ro_cas/init
SOURCE_TO_RDF_API=http://<url>:10080/doc_source/add

RO_EXTRACT_URL=http://<url>:5004/add_reporting_obligations


CELERY_EXTRACT_TERMS_CHUNKS=8
EXTRACT_TERMS_NLP_VERSION=8a4f1d58
EXTRACT_RO_NLP_VERSION=d16bba97890
